<a href="https://colab.research.google.com/github/sahiiy3326/BestPracticeInCorpusProgramming/blob/master/intro_python_exercise_statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Introduction Exercises

Table of contents
1. [Development tools](#devtools)
2. [Essentials in Python Language](#python_essentials)
3. [Basic data types / structures](#data_structures)
4. [Control flow structures](#control_structures)
5. [Operators](#operators)
6. [Conditions](#conditions)
7. [Functions](#functions)
8. [Lists comprehension](#lists_comprehension)
9. [Format strings](#format_strings)
10. [Pandas](#pandas)
10. [Lambda functions](#lambda)
11. [Objects](#objects)
12. [Libraries](#libraries)

## Development tools<a class=anchor id=devtools></a>

### Interactive console

- Open a terminal
- Launch python interactive console
    - python
- Make it say 'hello'
    - print('hello')

### Scripts

- Open a terminal
- Go to Desktop
    - chdir Desktop (Windows)
    - cd Desktop (Mac, Linux)
- Create a python script
    - echo "print('hello')" > script.py
- Launch the script
    - python script.py

### Jupyter Notebook

- Open a Jupyter Notebook
    - https://jupyter.org/try (online)
- Add a code cell
- Make it say 'hello'
    - print('hello')
- run the cell
    - click 'Run' > 'Run selected cells'

## Essentials in Python Language<a class=anchor id=python_essentials></a>
Do the following exercises in a Jupyter Notebook

In [ ]:
# Modules, Libraries
import pandas as pd
import numpy as np
import datetime
import truc

## Basic data types / structures<a class=anchor id=data_structures></a>

In [ ]:
# Text and numbers
12         # int (integer)
1.5        # float
'hola'     # str (string)
"hola"
"""hola"""

# Iterables
[42, 58, 209, 42]  # list
(42, 58, 209, 42)  # tuple
{42, 58, 209}      # set
{'name': ['akiko', 'julie'], 'age': [12, 43]}  # dict (dictionary)

--------------------------------
Question

1. Create an integer of value 12
2. Create a float of value 12
3. Create a string containing: 12

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
12
"12"
12.0

12
12
12.0

--------------------------------
Question

1. Create a list containing: 12, 13, 14
3. Create a dictionary with:
    - key (only 1): emotion
    - values (3): happy, sad, excited

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

In [ ]:
# Get unique values from a list using the set function
l = [42, 58, 58, 58, 209, 42, 42, 42]
set(l)

--------------------------------
Question

1. Create a list containing: 12, 13, 14, 12
2. Store the list into a variable named: lst
3. Get unique values from the list

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

### Dictionaries

Ensemble of pairs: (key, value)

In [ ]:
# Different (legal as to PEP8) ways to create the dictionary
dico = {'surname': ['jp', 'pa', 'ma', 'fo'], 'name': ['aba', 'chd', 'oih', 'iouh'], 'age': [12, 23, 40, 8]}

dico = {'surname': ['jp', 'pa', 'ma', 'fo'],
        'name': ['aba', 'chd', 'oih', 'iouh'],
        'age': [12, 23, 40, 8]}

dico = {
    'surname': ['jp', 'pa', 'ma', 'fo'],
    'name': ['aba', 'chd', 'oih', 'iouh'],
    'age': [12, 23, 40, 8],
}

dico

--------------------------------
Question

1. Create a dictionary named dico_stu containing:
    - keys: pilou, balo, pata, mani, tika
    - respective values of their age: 120, 140, 145, 110, 115

Becareful the form of this dictionary is slightly different from above:
- Above example: 3 keys with 4 values each
- This question: 5 keys with 1 value each

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

#### Extract info from dictionary

In [ ]:
dico['surname']

In [ ]:
dico['name']

--------------------------------
Question

1. Get the age of pata
2. Get the age of tika

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

In [ ]:
dico.items()

In [ ]:
dico.keys()

In [ ]:
dico.values()

#### Add info to dicotionary

In [ ]:
# Add a key with its value
dico['origin'] = 'earth'

In [ ]:
# Add value to existing key
# Possible if the value is a list
dico['age'].append(43)

In [ ]:
dico

We observe that lists of the dictionary do not need to be of same length.

Actually, we could add any object in each value

In [ ]:
dico['country'] = 'a'

In [ ]:
dico

In [ ]:
# Replace existing key/values
dico['country'] = ['fr', 'gb', 'us', 'es']

In [ ]:
dico

In [ ]:
# Add a new key with a function (in a list) as value
dico['objects'] = [truc.truc]

In [ ]:
dico

In [ ]:
# Chaining operations
print(dico['objects'])  # but is within parenthesis
print(dico['objects'][0])  # extract the first (and only) element of the list
print(dico['objects'][0]())  # execute the function (ref)

In [ ]:
# It became complicated because the value is a function
# which requires parenthesis to be executed
truc.truc

--------------------------------
Question

1. Add new pairs of key/value:
- keys: bibi, theo
- respective values: 130, 140
2. Change the value of existing key/values:
- set pilou at 121
- set balo at 141

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

## Control flow structures<a class=anchor id=control_structures></a>

for loop

In [ ]:
# With simple list
for i in [2, 54, 39]:
    print(i)

In [ ]:
# With dictionaries
for i in dico.items():
    print("Ceci est une nouvelle ligne", i)


print()
for i in dico.items():
    print("Ceci est une nouvelle ligne", *i)  # * unroll iterables

In [ ]:
for key in dico:
    print(dico[key][0])

for key in dico.keys():
    print(dico[key][0])

In [ ]:
for val in dico['age']:
    print(val)

--------------------------------
Question

1. Print a line for each key in the dictionary following the form:
- pilou is 120 tall
- balo is 140 tall
- etc.

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

## Operators<a class=anchor id=operators></a>

Class methods:
- Greater than \_\_gt\_\_
- Lower than \_\_lt\_\_

In [ ]:
print('a' + 'b')
print('a'.__add__('b'))

In [ ]:
print(1 > 2)
print(1 < 2)
print(1 < 1)
print('a' < 'b')
print('a' > 'b')
print([1] < [2, 3])
print([1] > [2, 3])

Class methods:
- Greater than or equal to \_\_ge\_\_
- Lower than or equal to \_\_le\_\_

In [ ]:
print(1 >= 2)
print(1 <= 2)
print(1 <= 1)

Class methods:
- Equal to \_\_eq\_\_
- Different from \_\_ne\_\_

In [ ]:
print(1 == 2)
print(1 != 2)
print(1 == 1)
print(1 != 1)

--------------------------------
Question

1. Is bibi taller than theo?
2. Is pilou smaller than balo?
3. Is tika as tall as pata?
4. Is mani of different size than pilou?

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

Class method:
- Find element in object \_\_contains\_\_

Available in iterables, not in numbers.

In [ ]:
print(1 in [1, 4, 2])
print(1 in [4, 2])
print([1] in [1, 4, 2])
print([1] in [[1], 4, 2])
print('a' in 'oisj')
print('a' in 'oiasj')

Not a class method:
- Check if element is (True, False, None, np.nan)

In [ ]:
print(True is True)
print(True is False)

print([1] is None)
x = 12
print(x is None)
x = None
print(x is None)

import numpy as np
print(x is np.nan)

Negation operator:
- not
- ~

In [ ]:
x = 0
if ~(x < 2):
    print("ok")

In [ ]:
print(1 == 1)
print(not 1 == 1)
print(~ 1 == 1)
print(1 != 1)
print(not 1 != 1)
print(~ 1 != 1)

View an object internal methods

In [ ]:
dir(3)[:10]
# dir([1, 2, 3])

All these operators return boolean values (True / False). In Pandas, this will help us build "masks" (filters)

--------------------------------
Question

1. Check whether pilou is an element of dico_stu
2. Check whether pila is an element of dico_stu
3. Check whether mani is NOT an element of dico_stu
4. Check whether mana is NOT an element of dico_stu
5. Store the first result in a variable named pilou_in_dico_stu
6. Check whether pilou_in_dico_stu is True

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

## Conditions<a class=anchor id=conditions></a>

Simple "if, else" condition

In [ ]:
x = 3

if x == 3:
    print("Yes, x is equal to 3")
else:
    print("No, x is not equal to 3")

If is not None

In [ ]:
if x != None:
    print(x)
else:
    print("Not possible")

Better way to write, if is not None

In [ ]:
if x:
    print(x)
else:
    print("Not possible")

--------------------------------
Question

1. Create a variable named: stu
2. Set this variable to: mani (you will change the value later)
3. Create a code that says:
- [name] is in dico_stu (if the name is in the dico_stu)
- [name] is not in dico_stu (if the name is not in the dico_stu)

e.g.:

```mani is in dico_stu```

```mana is not in dico_stu```

This should work for any value of stu.

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

--------------------------------
Question

1. Create a variable named: stu_size
2. Set this variable to: 120
3. Create a code that says:
- [name] is smaller than 120 (if the value corresponding to the name is indeed smaller than 120)

The code should output:
```
mani is smaller than 120
tika is smaller than 120
```

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

## Functions<a class=anchor id=functions></a>

Functions can:
- take no, to many arguments
- arguments can be "Positional" or "Keyword" arguments
- return nothing (None) or anything (to many things)
- synonyms: arguments / parameters / inputs

One must:
- Define the function
- Call the function

Simplest form:
- No argument required
- No return

In [ ]:
# Define the function
def say_something():
    print("Something")

# Call the function
say_something()

Function with:
- an argument
- no return

In [ ]:
def say_my_name(name):
    print(name)

say_my_name("Alexis")

Function with:
- an argument
- a return

In [ ]:
def square(x):
    return x**2

result = square(4)
result

Function with:
- multiple arguments
- a return

In [ ]:
def add(a, b, c):
    return a + b + c

result = add(4, 2, 9)
result

Function with:
- no argument
- multiple returns

In [ ]:
def return_many_things():
    return 'alexis', 'bogroff', 'data'

return_many_things()

In [ ]:
# Get the result in separate variables
r_1, r_2, r_3 = return_many_things()
print(r_1)
print(r_2)
print(r_3)

Function with:
- a keyword argument
    - is thus optional
    - must be positioned after the positional arguments
- no return

In [ ]:
def say_what_you_doing(name, course='data'):
    print(f"{name} doing {course}")

say_what_you_doing("Alexis")
say_what_you_doing("Alexis", "writing the course")

Function with:
- a (positional) argument awaiting a function
- no return

In [ ]:
def complex_fct(func):
    print("This function will say")
    func()

complex_fct(say_something)

--------------------------------
Question

1. Create a function named: salutation
2. Make the function say: hello
3. Call the function

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

--------------------------------
Question

1. Create a function named: salutation_perso
2. The function should take an argument named: surname
2. Make the function say: hello [surname]
3. Call the function

e.g. with a surname set to alexis, the function should return:
```
hello alexis
```

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

--------------------------------
Question

1. Create a function named: get_small_stu
2. The function should take a dictionary as argument named: students
2. Make the function return a tuple containing the a pair of key/value where the value is smaller than 120
3. Call the function by passing your previous dictionary (dico_stu) as argument

e.g. for the above input, the function could return:
```
('mani', 110)
```

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

## Lists comprehension<a class=anchor id=lists_comprehension></a>

The standard way to create a list from a loop

In [ ]:
l_loop = []
for i in range(10000):
    l_loop.append(i**2)

The efficient way, list comprehension

Advantage:
- one liner
- more efficient computation (faster)

Disadvantages:
- less readable
- not possible for complex operations within the loop

In [ ]:
l_comprehension = [i+10 for i in [1, 4, 2, 9, 4]]
l_comprehension

In [ ]:
# Generate complex elements in the list
l_comprehension = [('a', i, i+10) for i in [1, 4, 2, 9, 4]]
l_comprehension

In [ ]:
# Use range to create a long list
l_comprehension = [i**2 for i in range(10000)]
l_comprehension[:5]

Use a condition

In [ ]:
l_comprehension = [i**2 for i in range(10000) if i%10==0]
l_comprehension[:5]

Use a more complex condition (it requires to write the if at the beginning)

In [ ]:
l_comprehension = [i**2 if i%2==0 else i for i in range(10000)]
l_comprehension[:5]

--------------------------------
Question

1. Write a list comprehension that generates the following output (using your dictionary dico_stu)

```
['Student pilou is 121 tall',
 'Student balo is 141 tall',
 'Student pata is 145 tall',
 'Student mani is 110 tall',
 'Student tika is 115 tall',
 'Student bibi is 130 tall',
 'Student theo is 140 tall']
```

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

--------------------------------
Question

1. Modify your list comprehension in order to generate only sentences for students taller than 115

It should generate the following list
```
['Student balo is 141 tall',
 'Student pata is 145 tall',
 'Student theo is 140 tall']
```

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

--------------------------------
Question

1. Modify your list comprehension in order to generate:
- the same sentence for students taller than 115
- the following sentence otherwise: Student [name] is smaller than 130

It should generate the following list
```
['Student pilou is smaller than 130',
 'Student balo is 141 tall',
 'Student pata is 145 tall',
 'Student mani is smaller than 130',
 'Student tika is smaller than 130',
 'Student bibi is smaller than 130',
 'Student theo is 140 tall']
```

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

## Format strings<a class=anchor id=format_strings></a>
Combine text with variables

Simple formats

In [ ]:
val_ex = 4983
print('Result', val_ex)

Advanced format V1: .format()

In [ ]:
l = []
for i in range(10):
    l.append("{}".format(i))

l = []
for i in range(10):
    l.append("{0}".format(i))

l = []
for i in range(10):
    l.append("{num}".format(num=i))

Advanced format V2 (since Python 3.6): 'f' format

In [ ]:
l = []
for i in range(10):
    l.append(f"{i}")

--------------------------------
Question

1. Re-use your old list lst, containing [12, 13, 14, 12]
2. Using the 3 different formats presented above, your code should display:
- The first element is: [first_value]

For the 3 outputs it should generate the following list
```
The first element is: 12
The first element is: 12
The first element is: 12
```

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

## Pandas<a class=anchor id=pandas></a>

### Create Series

In [ ]:
s = pd.Series({'a': [1.5, 2.2, 4.9, 3.4, 5.9]})
s

--------------------------------
Question

1. Create a pandas Series named: grades
2. The Series should contain the following values: [12, 13, 14, 12]
3. Store the Series in a variable named s_stu
3. Display the Series

It should generate the following output
```
grades    [12, 13, 14, 12]
dtype: object
```

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

### Create DataFrame (manually)

In [ ]:
students = {
    'names': ['ali', 'zoe', 'moh'],
    'age': [10, 12, 9],
}

df = pd.DataFrame(students)

In [ ]:
df

--------------------------------
Question

1. Create a pandas DataFrame
2. The DataFrame should contain two Series:
- names: liu, fuy, tio, kape
- grades: 12, 13, 14, 12
3. Store the DataFrame in a variable named df_stu
3. Display the DataFrame

It should generate the following output
```
	names	grades
0	liu	12
1	fuy	13
2	tio	14
3	kape	12
```

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

- Add index names for the purpose of this exercise: index are like the names of the lines
- In Excel, it ranges from 0 to +100000... and is generated automatically. It actually represents the number of the line.
- But in pandas DataFrames, it can represent anything (dates, client_id, even numbers in disorder)
- It corresponds to a default primary key

In [ ]:
df.index = ['stu_1', 'stu_2', 'stu_3']

In [ ]:
df.index

In [ ]:
df

The above DataFrame is composed of 2 Series (a specific object / in column)

In [ ]:
# Get a single Series
df['age']

Multiply by 2 each element of 'nums'

In [ ]:
df_temp = df.copy()

In [ ]:
# /!\ Never do it this way (loops) /!\
for i, val in enumerate(df_temp['age']):
    df_temp.loc[i, 'age'] = val * 2

In [ ]:
df_temp

- On large DataFrames this is very slow (inefficient)
- It's also more difficul to read

In [ ]:
df_temp = df.copy()

In [ ]:
# Do this way (vectorized)
df_temp['age'] = df_temp['age'] * 2

--------------------------------
Question

1. Using your DataFrame df_stu
2. Add 3 to each grade
3. Store the new grade vector as a new column in the DataFrame under the name: grades_harmonized
3. Display the DataFrame

It should generate the following output
```
	names	grades	grades_harmonized
0	liu	12	15
1	fuy	13	16
2	tio	14	17
3	kape	12	15
```

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

### Access data

#### Get column

In [ ]:
df['age']

In [ ]:
df['names']

--------------------------------
Question

1. Using your DataFrame df_stu
2. Display the column grades_harmonized

It should generate the following output
```
0    15
1    16
2    17
3    15
Name: grades_harmonized, dtype: int64
```

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

### Get specific row

Using its relative position

In [ ]:
df.iloc[0]

In [ ]:
df.iloc[-1]

Using its index name
- be careful, the first line is always at **position** 0
- also, in many cases the index is named 0, 1, 2, 3, etc. thus, the first line is also named 0! (which could have been different from its relative position)

In [ ]:
df.loc['stu_2']

--------------------------------
Question

1. Using your DataFrame df_stu
2. Display the last row

It should generate the following output
```
names                kape
grades                 12
grades_harmonized      15
Name: 3, dtype: object
```

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

--------------------------------
Question

1. Using your DataFrame df_stu
2. Display the first row

It should generate the following output
```
names                liu
grades                12
grades_harmonized     15
Name: 0, dtype: object
```

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

--------------------------------
Question

1. Using your DataFrame df_stu
2. Display the row **at index** 1

It should generate the following output
```
names                fuy
grades                13
grades_harmonized     16
Name: 1, dtype: object
```

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

### Masks (filters)
Get multiple rows

In [ ]:
mask_age = df['age'] >= 10
mask_age

In [ ]:
df[mask_age]

--------------------------------
Question

1. Using your DataFrame df_stu
2. Create a mask that selects students with a grade greater than 15
3. Store this mask in a variable named: ma_leaders
4. Use this mask to extract the selected rows only

It should generate the following output
```
	names	grades	grades_harmonized
1	fuy	13	16
2	tio	14	17
```

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

### DataFrames Methods

Max

In [ ]:
df.max()

In [ ]:
df['age'].max()

Shape to know the number of rows and columns

In [ ]:
df.shape

Info to get more informations on the composition

In [ ]:
df.info()

Describe to get descriptive statistics

(on the quantitative variables only)

In [ ]:
df.describe()

In [ ]:
df['age'].describe()

--------------------------------
Question

1. Using your DataFrame df_stu
2. Use the *describe* method
3. Check that the median is 12.5

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

--------------------------------
Question

1. Using your DataFrame df_stu
2. Use the *info* method
3. Check that the column *names* is of Dtype *object*
4. Check the number of rows and columns

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

--------------------------------
Question

1. Using your DataFrame df_stu
2. Use the *shape* attribute to control for the number of rows and columns

It should generate the following output
```
(4, 3)
```

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

### Apply function
To each row (to all or to a selected column)

In [ ]:
df.apply(lambda x: x*2)

In [ ]:
df['age'].apply(lambda x: x*2)

Could use a pre-defined function

In [ ]:
def double(x):
    return x * 2

In [ ]:
df['age'].apply(double)

--------------------------------
Question

1. Using your DataFrame df_stu
2. Use apply function on the column *grades*
3. Add 2 if the grade is smaller than 13 (use lambda)

It should generate the following output
```
0    14
1    13
2    14
3    14
Name: grades, dtype: int64
```

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

### DataFrame other useful methods

#### String methods

In [ ]:
df['names'].str.upper()

--------------------------------
Question

1. Using your DataFrame df_stu
2. Use pandas buit-in method to change the first letter of each name with a capital letter

It should generate the following output
```
0     Liu
1     Fuy
2     Tio
3    Kape
Name: names, dtype: object
```

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

#### Drop a column

In [ ]:
df_temp = df.copy()

Not applied to the current DataFrame

In [ ]:
df_temp.drop(columns='names')

In [ ]:
df_temp

Apply to current DataFrame:
- Using standard variable assignment

In [ ]:
df_temp = df.copy()

In [ ]:
df_temp = df_temp.drop(columns='names')

In [ ]:
df_temp

Using inplace

In [ ]:
df_temp = df.copy()

In [ ]:
df_temp.drop(columns='names', inplace=True)

In [ ]:
df_temp

--------------------------------
Question

1. Using your DataFrame df_stu
2. Drop the column named *grades* using *inplace* parameter

It should output nothing

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

#### Sort_values

In [ ]:
df.sort_values(by='age')

In [ ]:
df.sort_values(by='age', ascending=False)

#### Value_counts

In [ ]:
df_temp = df.copy()

additional_students = {
    'names': ['jul', 'lipo', 'chen'],
    'age': [10, 10, 12]
}

df_add_students = pd.DataFrame(
    additional_students,
    index = ['stu_4', 'stu_5', 'stu_6']
)

df_temp = df_temp.append(df_add_students)

In [ ]:
df_temp

In [ ]:
df_temp['age'].value_counts()

--------------------------------
Question

1. Using your DataFrame df_stu
2. Count the number of each occurence in *grades_harmonized*

It should generate the following output
```
15    2
16    1
17    1
Name: grades_harmonized, dtype: int64
```

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

#### Groupby

In [ ]:
df_temp['centroid'] = [1, 3, 3, 2, 3, 1]

In [ ]:
df_temp

In [ ]:
df_temp.groupby('centroid').mean()

--------------------------------
Question

1. Using your DataFrame df_stu
2. Add a column named *is_adult* containing the values: 0, 1, 1, 0
3. Then, compute the average *grades_harmonized* of both adults and non adults

It should generate the following output
```
	grades_harmonized
is_adult
0	15.0
1	16.5
```

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

#### Treat NA values (Not available)

In [ ]:
import numpy as np
np.nan

In [ ]:
df_temp.loc['stu_2', 'age'] = np.nan
df_temp.loc['stu_4', 'age'] = np.nan

In [ ]:
df_temp

In [ ]:
df_temp.isna()

In [ ]:
df_temp['age'].fillna(10)

--------------------------------
Question

1. Using your DataFrame df_stu
2. Replace zeros by *nan* in column *is_adult*
3. Display the DataFrame

It should generate the following output
```
	names	grades_harmonized	is_adult
0	liu	15	NaN
1	fuy	16	1.0
2	tio	17	1.0
3	kape	15	NaN
```

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

--------------------------------
Question

1. Using your DataFrame df_stu
2. Replace NaNs by False in the column *is_adult*

It should generate the following output
```
	names	grades_harmonized	is_adult
0	liu	15	False
1	fuy	16	1.0
2	tio	17	1.0
3	kape	15	False
```

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

--------------------------------
Question

1. Using your DataFrame df_stu
2. Replace 1.0 by True in the column *is_adult*

It should generate the following output
```
	names	grades_harmonized	is_adult
0	liu	15	False
1	fuy	16	True
2	tio	17	True
3	kape	15	False
```

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

### Generate graphs

Add feature 'size'

In [ ]:
df_graph = df.copy()

In [ ]:
df_graph['size'] = [100, 140, 70]

In [ ]:
df_graph.sort_values('age', inplace=True)

In [ ]:
df_graph

In [ ]:
df_graph.plot(x='age', y='size')

In [ ]:
df_graph.plot.scatter(x='age', y='size')

In [ ]:
stu_4 = {'names': 'mat', 'age': 12, 'size': 100}
df_graph = df_graph.append(stu_4, ignore_index=True)

In [ ]:
df_graph['age'].hist()

--------------------------------
Question

1. Using your DataFrame df_stu
2. Display a histgoram of *grades_harmonized*

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

### Import csv

In [ ]:
path_relative = "examples/TD6_Exam_MCQ.csv"  # relative
path_absolute = "/Users/alexisbogroff/git_repositories/Sorbonne_Data_Science_Workshop/src/examples/TD6_Exam_MCQ.csv" # absolute
df = pd.read_csv(path_relative)
df.head()

In [ ]:
type(df)

In [ ]:
df.info()

### Filter (extract) data from DataFrame (Pandas)

In [ ]:
# Get line 2
print(type(df.iloc[1]))
df.iloc[1]

In [ ]:
# Get line 2 without NAs
df.iloc[1][~df.iloc[1].isna()]

In [ ]:
# Do the same in multiple steps (more comprehensible)
line_2 = df.iloc[1]  # extract => get a pandas Series
mask_isna = line_2.isna()  # mask => True & False
line_2_no_na = line_2[~mask_isna]  # ~ => Get all BUT what is True

In [ ]:
line_2_no_na

## Lambda functions<a class=anchor id=lambda></a>

In [ ]:
def mult_11(x):
    return x * 11

In [ ]:
mult_11(4)

In [ ]:
# Create a function in one-line (don't do this, don't put it in a variable, use rather in apply function as above)
# You should either (i) use lambda for one-time use, (ii) use the classic function definition otherwise
mult_12 = lambda x: x * 12

In [ ]:
mult_12(4)

When is it useful? When you have one-time use functions

In [ ]:
df = pd.DataFrame({'letters':['a', 'b', 'c']})

In [ ]:
df.apply(lambda x: x.str.upper())

In [ ]:
# But useless here since we have a simpler solution
df['letters'].str.upper()

In [ ]:
df['letters'].apply(lambda x: x.upper() if x=='a' else x)

Vectorised loop:
- way more effient on large data
- good practice

In [ ]:
# Use .apply with a pre defined function
df['letters'].apply(mult_12)

# Functions should take only 1 argument as input.

## Objects<a class=anchor id=objects></a>

### Create simple class

In [ ]:
class Truc:
    # Define instanciator (init)
    def __init__(self):
        self.age = 10
        self.name = 'truc'

In [ ]:
truc_1 = Truc()

In [ ]:
truc_1

In [ ]:
print(truc_1.name)
print(truc_1.age)

### Create first method

In [ ]:
class Truc:

    # Define instanciator (init)
    def __init__(self):
        self.age = 10
        self.name = 'truc'

    def present(self):
        print(f"My name is: {self.name}, "
              f"I'm {self.age} years old")

In [ ]:
truc_1 = Truc()

In [ ]:
truc_1

In [ ]:
truc_1.name

In [ ]:
truc_1.present()

### Create a method with a return

In [ ]:
class Truc:

    # Define instanciator (init)
    def __init__(self):
        self.age = 10
        self.name = 'truc'

    def present(self):
        print(f"My name is: {self.name}, "
              f"I'm {self.age} years old")

    def dog_age(self):
        return self.age * 7

In [ ]:
truc_1 = Truc()

In [ ]:
dog_age = truc_1.dog_age()

In [ ]:
dog_age

### Instanciate with an argument

In [ ]:
class Truc:

    # Define instanciator (init)
    def __init__(self, name, age):
        self.age = age
        self.name = name

    def present(self):
        print(f"My name is: {self.name}, "
              f"I'm {self.age} years old")

    def dog_age(self):
        return self.age * 7

In [ ]:
truc_1 = Truc('Yuko', 7)
truc_2 = Truc('Mila', 13)

In [ ]:
print(f"{truc_1.name} is {truc_1.dog_age()} old")
print(f"{truc_2.name} is {truc_2.dog_age()} old")

#### Chaining operations

In [ ]:
truc_1.name.upper()

In [ ]:
name = truc_1.name
name.upper()

--------------------------------
Question

1. Define: Define a class named: Bioshop
2. Define: It should take the name of the bio shop when the object is instanciated
3. Define: It should also get an optional attribute *is_zero_waste* at instanciation, with default value *False*
4. Define: Add a method *become_zero_waste* that changes the corresponding attribute to True
5. Call: Instanciate an object of your class with the name of your choice
6. Call: Call the *become_zero_waste* method
7. Call: Display the value of attribute is_zero_waste

It should output:
```True```

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

## Libraries<a class=anchor id=libraries></a>

### Import personal module

In [ ]:
import truc
truc.truc()

### Standard Modules

In [ ]:
# How to use a standard module
## Measure execution time
t_start = datetime.datetime.now()

for i in range(int(10e6)):
    i**4

t_end = datetime.datetime.now()

print(t_end-t_start)

## Shortcuts

**General**

How to move the cursor position?
- Go to end / start of a line
- Go to next / previous word

**Code specifically**
- Comment a block of lines